@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}


body {
  display:flex;
  justify-content:center;
  background-color:#eef5ff;
  font-family: Arial, Helvetica, sans-serif;
}
